<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipt</title>
    <style>
      header {
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Logo</h2>
      <div class="info">
        <p>Date Created:</p>
        <p>Cashier</p>
      </div>
    </header>
    <main>
      <div class="items_body">
        <h5>Name</h5>
        <h5>Price</h5>
      </div>
    </main>
  </body>
</html>